@media screen and (max-width:1002px) {
    .navbar {
        position: relative;
    }
    .menu {
        display: none;
    }

    #menucelular {
        display: none;
        background: white;
        border-bottom: 2px solid #180F4A;
       
    }

    #botao {
        padding: 5px;
        margin: 0;
        background: white;
        color: #180F4A;
    }
    
    #menucelular a {
        display: block;
        padding: 10px;
        text-decoration: none;
    }

    #menucelular a:hover {
        background-color:  #180F4A;
        color: white;
        transition-duration: .3s;
    }

    .menuzinho {
        display: inline-block;
        cursor: pointer;
    }

    .logo{
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        padding-top: 50px;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
     
    .whats {
        display: none;
    }

    .card {
        width: 100%;
    }

}